@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Montserrat+Alternates:wght@400;600;700;800&family=Poppins&family=Playfair:opsz,wght@5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

body {
  background-color: black;
  color: white;
  -webkit-user-select: "none";
  user-select: none;
}

.rich-text-content p {
  @apply leading-relaxed;
}

.rich-text-content span {
  @apply font-semibold text-blue-400;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.courier {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.playfair-regular {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair-semibold {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair-bold {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair-extrabold {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


/* menu bar for admin */
.hamburger-line {
  @apply w-full h-1 rounded bg-current transition-all duration-300 ease-in-out;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}